.news-card {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column; /* Ensures the text is below the image */
    justify-content: space-between;
}

.news-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px; /* Space between image and text */
}

.news-card h3 {
    font-size: 1.2rem;
    color: #00bcd4;
    margin-top: 10px;
}

.news-card p {
    font-size: 1rem;
    color: #555;
    margin-top: 10px;
}

.scopri-piu {
    text-decoration: none;
    color: #00bcd4;
    font-weight: bold;
    display: inline-block;
    margin-top: 10px;
}
